@import url('https://fonts.googleapis.com/icon?family=Material+Icons'); 


button {
    border: none;
    outline: none;
}

.material-icons  {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 42px; 
    position: fixed;
    top: 50px;
    right: 90px;
    border: 0px;
    cursor: pointer;
  }

.material-icons.md-36 { font-size: 36px; }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
